
*.iml

*.xml

*.cmake

cmake-build-debug/CMakeCache.txt

*.bin

*.out

*.c

cmake-build-debug/CMakeFiles/3.6.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/Test

cmake-build-debug/Makefile

*.cbp

cmake-build-debug/ITAK

*.o

*.make

cmake-build-debug/CMakeFiles/Test.dir/link.txt

*.internal

*.includecache

cmake-build-debug/CMakeFiles/TargetDirectories.txt

cmake-build-debug/CMakeFiles/progress.marks

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/ITAK.dir/link.txt

*.cxx

*.log

*.check_cache

cmake-build-debug/CMakeFiles/clion-log.txt
